/*=========================================================
	FONTS
=========================================================*/
@font-face {
    font-family: 'Intellec';
    src: url('intellec.ttf') format('truetype');
}
@font-face {
	font-family: 'Nintendo';
	src: url('press_start_2p.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	src: url('RobotoMono-Regular.ttf') format('truetype');
}
/*=========================================================
	BODY
=========================================================*/
body {
    margin: 0 100px;
	margin-bottom: 50px;
    padding: 0 20px 0 20px;
    background: #f0f0f0;
    color: #000;
    font-family: 'Roboto', 'Consolas', monospace;
    font-weight: normal;
    font-size: 20px;
}
/*=========================================================
	PAGE HEADERS
=========================================================*/
.page-header {
	width: 100%;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 10px;
	font-family: 'Intellec', 'Consolas', monospace;
}
.page-header.icon {
	width: 1%;
}
.page-header.icon .gameboy-icon {
	margin-right: 15px;
}
.page-header.left {
	width: 50%;
	font-size: 40px;
	text-shadow: 3px 3px 0px #ccc;
	text-align: left;
	vertical-align: middle;
}
.page-header .home-link {
	color: #000;
}
.page-header .accent {
	color: #ff0060;
	text-decoration: none;
}
.page-header .subtitle {
	font-size: 16px;
	text-shadow: none;
}
.page-header.right {
	width: 49%;
	font-size: 20px;
	text-align: right;
	vertical-align: bottom;
}
/*=========================================================
	SECTION HEADERS
=========================================================*/
.section-header {
	font-family: 'Intellec', 'Consolas', monospace;
	padding: 10px 30px;
	padding-top: 12px;
	margin: 0;
	background: #5c51ff;
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-shadow: 4px 4px 0px #342dc5;
	box-shadow: 4px 4px 0px #aaa;
}
/*=========================================================
	NOTES
=========================================================*/
.note {
	width: 100%;
	border-left: 10px solid #d0d0d0;
	background: #e0e0e0;
	padding: 10px;
	padding-left: 20px;
}
.note.yellow {
	border-left: 10px solid #e1e16c;
	background: #fffeae;
}
.note.red {
	border-left: 10px solid #ffa0a0;
	background: #ffc8c8;
}
/*=========================================================
	HYPERLINKS
=========================================================*/
a, a:visited {
	color: #f04;
	text-decoration: none;
}
a:hover {
	color: #8040ff;
}
a.back-home {
	display: block;
	margin-top: 40px;
}
/*=========================================================
	TABULATIONS
=========================================================*/
.tab-1 {
	margin-left: 40px;
}
.horizontal-padding {
	margin-left: 40px;
	margin-right: 40px;
}
/*=========================================================
	WIDTHS
=========================================================*/
.full-width {
	width: 100%;
}
.half-width {
	width: 50%;
}
/*=========================================================
	LISTS
=========================================================*/
li {
	list-style: square;
	margin-bottom: 5px;
}
/*=========================================================
	API REFERENCE
=========================================================*/
.apiref-section-header {
	font-family: 'Intellec', 'Consolas', monospace;
	padding: 10px 30px;
	padding-top: 12px;
	margin: 0;
	margin-top: 40px;
	background: #222;
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-shadow: 4px 4px 0px #000;
	box-shadow: 4px 4px 0px #aaa;
}
.apiref-entry-title {
	margin: 0;
	margin-top: 20px;
	margin-bottom: 5px;
	padding-left: 0;
	padding-bottom: 5px;
	border-bottom: 2px solid #000;
	background: none;
	color: #f06;
	font-family: 'Roboto Mono';
	font-weight: bold;
}
.apiref-entry {
	margin: 0;
}
.apiref-type {
	color: #342dc5;
}
.apiref-default-arg {
	color: #999;
}
