<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <add key="LogFile" value="TileGameEngine.log" />
    <add key="ScriptFileExt" value="tgml" />
    <add key="MainScriptFile" value="main.tgml" />
    <add key="DefaultCyclesPerMillisecond" value="10" />

  </appSettings>
</configuration>