<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    
    <add key="SettingsFile" value="TileGameEngine.ini" />
    <add key="ProjectFileExt" value="tgm" />
    <add key="ScriptFileExt" value="prg" />

  </appSettings>
</configuration>