<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <add key="BuildNumber" value="20191127160914" />

    <add key="MapEditorWindowBestWidth" value="1380" />
    <add key="MapEditorWindowBestHeight" value="755" />

    <add key="DefaultWorkspacePath" value="." />
    <add key="MapFileExt" value="tgmap" />
    <add key="PaletteFileExt" value="tgpal" />
    <add key="TilesetFileExt" value="tgtil" />

    <add key="DefaultMapEditorZoom" value="3" />
    <add key="DefaultMapWidth" value="32" />
    <add key="DefaultMapHeight" value="24" />
    <add key="MapEditorMaxLayers" value="2" />
    <add key="MaxAnimationFrames" value="9" />
    <add key="MapEditorGridColor" value="0x40000000" />

    <add key="DefaultTileIndex" value="0" />
    <add key="DefaultTileForeColor" value="0" />
    <add key="DefaultTileBackColor" value="255" />

    <add key="ColorPickerCols" value="8" />
    <add key="ColorPickerRows" value="32" />
    <add key="ColorPickerZoom" value="3" />
    <add key="ColorPickerColorsPerRow" value="8" />
    <add key="ColorPickerSwatchTile" value="219" />
    <add key="ColorPickerSelectedForeColorSwatchTile" value="70" />
    <add key="ColorPickerSelectedBackColorSwatchTile" value="66" />
    <add key="ColorPickerSelectedBothColorsEqualSwatchTile" value="7" />
    
    <add key="TilePickerZoom" value="3" />
    <add key="TilePickerTilesPerRow" value="8" />

    <add key="TileEditorZoom" value="3" />
    <add key="TileEditorPixelIndicator" value="219" />
    <add key="TileEditorPixelOnValue" value="1" />
    <add key="TileEditorPixelOffValue" value="0" />
    <add key="TileEditorPixelOnColor" value="0xff000000" />
    <add key="TileEditorPixelOffColor" value="0xffffffff" />

  </appSettings>
</configuration>
