<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <add key="MapEditorWindowBestWidth" value="1485" />
    <add key="MapEditorWindowBestHeight" value="800" />
    <add key="DefaultMapWidth" value="36" />
    <add key="DefaultMapHeight" value="21" />
    <add key="MapViewWidth" value="36" />
    <add key="MapViewHeight" value="21" />
    <add key="MapViewGridEnabled" value="true" />

    <add key="DefaultMapEditorZoom" value="3" />
    <add key="MapEditorMaxLayers" value="2" />
    <add key="MaxAnimationFrames" value="9" />
    <add key="MapEditorGridColor" value="0x08000000" />

    <add key="DefaultTileIndex" value="0" />
    <add key="DefaultTileForeColor" value="0" />
    <add key="DefaultTileBackColor" value="255" />

    <add key="ColorPickerCols" value="8" />
    <add key="ColorPickerRows" value="32" />
    <add key="ColorPickerZoom" value="3" />
    <add key="ColorPickerColorsPerRow" value="8" />
    <add key="ColorPickerSwatchTile" value="219" />
    <add key="ColorPickerSelectedForeColorSwatchTile" value="70" />
    <add key="ColorPickerSelectedBackColorSwatchTile" value="66" />
    <add key="ColorPickerSelectedBothColorsEqualSwatchTile" value="69" />
    
    <add key="TileEditorZoom" value="3" />
    <add key="TileEditorPixelIndicator" value="219" />
    <add key="TileEditorPixelOnValue" value="1" />
    <add key="TileEditorPixelOffValue" value="0" />
    <add key="TileEditorPixelOnColor" value="0xff000000" />
    <add key="TileEditorPixelOffColor" value="0xffffffff" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
